<h1>New section</h1>

    <% @API_KEY = '17321802' %>
    <% @API_SECRET = '3a90fda1362d50aed4b04f3f01456153d2e956be' %>
    <% @OTSDK = OpenTok::OpenTokSDK.new @API_KEY, @API_SECRET %>

    <% @session_id = @OTSDK.createSession(request.ip) %>

    SessionId: <%= @session_id %>


<%= render 'form' %>

<%= link_to 'Back', sections_path %>
