
        <div class="content">
          <div class="home_text">Providing an interactive marketplace where anyone can learn or teach, anywhere, anytime.<br/>
            <input type="button" class="button" value="Sign Up For MindPeel"/>
          </div>
          <div class="main_actions">
            <div class="action"><a href="#" class="teach">Teach A Class</a></div>
            <div class="action"><a href="#" class="learn">Take A Class</a></div>
          </div>
        </div>r
