
        <div class="content">
          <div class="home_text">Don't you think it's about time we change how we learn?  Learn anything in an online interactive classroom where anyone can learn or teach, anywhere, anytime.<br/>
      
          </div>
          <div class="main_actions">
            <div class="action"><a href="teach" class="teach">Teach A Class</a></div>
            <div class="action"><a href= courses_url class="learn">Find a Class</a></div>
          </div>
        </div>
