


        <div class="content">
          <div class="home_text">Don't you think it's about time we change how we learn?  Learn anything in an online interactive classroom where anyone can learn or teach, anywhere, anytime.<br/>
      
          </div>
          <div class="main_actions">
            <div class="action"><%= link_to "Teach a Class", new_course_path, :class => "teach" %></div>
            <div class="action"><%= link_to "Take a Class", courses_path, :class => "learn" %></div>
            <!-- <div class="action"><a href="#" class="learn">Take A Class</a></div> -->

          </div>
        </div>
